/*  REGOLE GEN DI PAGINA  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* header:  */
header {
  background-color: lightblue;
  height: 150px;
}
/* nav1:  */
.nav1 {
  background: grey;
  padding: 1%;
}

.nav1 ul {
  list-style: none;
}
.nav1 li{
  display: inline-block;
  padding: 0% 2%;
}
.nav1 a {
  text-decoration: none;
  color: white;
}
.nav1::after{
  content: "";
  display: table;
  clear: both;
}
/* NAV1LEFT */
.nav1left{
  float: left;
  width: 5%;
  color: yellow;
  text-align: right;
}
/* nav1mid */
.nav1mid {
  float: left;
  width: 50%;
  font-size: 10px;
  padding: 0% 2%;
}

/* nav1right */
.nav1right{
  float: right;
  width: 45%;
  text-align: right;
  font-size: 10px;
}

/* nav2:  */


.nav2 {
  height 50px;
  background: GREEN;
}
/* nav3 */
.nav3 {
  height 50px;
  background: grey;
}
.immaginegrande{
  height: 100px;
  background:green;
}
/* IDEA:  */

.powerful{
  height: 100px;
  background:lightblue;
}
.freehubspot{
  height: 100px;
  background:lightgreen;
}

/* IDEA:  */
.3div{
  height: 100px;
  background:lightblue;
}
/* IDEA:  */
.txtabella{
  height: 100px;
  background:lightblue;
}
.tabella{
  height: 100px;
  background:gray;
}
.shopify{
  height: 100px;
  background:lightgreen;
}
.startgrowing{
  height: 100px;
  background:lightblue;
}
/* IDEA:  */
footer{
  height: 100px;
  background:blue;
}
