/*  REGOLE GEN DI PAGINA  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* header:  */

/* IDEA:  */
.tuttelenav ul {
  list-style: none;
}
.tuttelenav li {
  display: inline-block;
  padding: 1% 2%;
}
.tuttelenav a {
  text-decoration: none;
}

/* nav1:  */
.nav1 {
  background: purple;
  padding: 10px;
}

.nav1 a {
  color: white;
}

.nav1::after{
  content: "";
  display: table;
  clear: both;
}
/* NAV1LEFT */
.nav1left{
  float: left;
  width: 5%;
  text-align: right;
  color: orange
}
/* nav1mid */
.nav1mid {
  float: left;
  width: 50%;
  font-size: 10px;
  padding: 0% 2%;
}

/* nav1right */
.nav1right{
  float: right;
  width: 45%;
  text-align: right;
  font-size: 10px;
}
#bordo {
  border-left: 1px solid white;
  font-size: 16px;
}

/* nav2:  */
.nav2 {
  height: 50px;
  background: lightgrey;
  padding: 10px;
  width: 100%;
}
.nav2::after{
  content: "";
  display: table;
  clear: both;
}
.nav2 ul{
  margin-left: 20%;
  margin-right: 20%;
}
/* IDEA:  */
.nav2left {
  float: left;
  width: 70%;
}
.nav2right{
  float: right;
  width: 30%;
}
.button{
  border: solid 1px black;
  background: orange;
  color: white;
  padding: 10% 10%;
}

/* nav3 */
.nav3 {
  height 50px;
  background: grey;
}
.immaginegrande{
  height: 100px;
  background:green;
}
/* IDEA:  */

.powerful{
  height: 100px;
  background:lightblue;
}
.freehubspot{
  height: 100px;
  background:lightgreen;
}

/* IDEA:  */
.3div{
  height: 100px;
  background:lightblue;
}
/* IDEA:  */
.txtabella{
  height: 100px;
  background:lightblue;
}
.tabella{
  height: 100px;
  background:gray;
}
.shopify{
  height: 100px;
  background:lightgreen;
}
.startgrowing{
  height: 100px;
  background:lightblue;
}
/* IDEA:  */
footer{
  height: 100px;
  background:blue;
}
